<div class="my-card-wide mdl-card mdl-shadow--6dp">
    {{ form_start(dateeventform, {'attr': {'class': 'form-horizontal'}}) }}

    <fieldset>




        {{ form_rest(dateeventform) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(dateeventform) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(dateeventform) }}
    </fieldset>
</div>
