{% extends '::menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement{% endblock %}
{% block metaDescription %}Ce site web est un site communautaire qui a pour but de rassembler à la manière d'un calendrier tous les évènements Geek est Otaku en France.{% endblock %}
{% block metaTitle %}Convention Geek: TGS 2017{% endblock %}

{% block metaMore %}<meta name="robots" content="noindex">{% endblock %}

{% block pageContent %}


    <h1 style="margin: auto">Bienvenue au TGS 2017</h1>

    <img style="margin: 5% auto; height: 100%; width: 100%;" src="{{ asset('images/other/tgs.png') }}" alt="Bannière du Toulouse Game show"/>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sapien ex, mattis at placerat quis, dignissim luctus nisi. Ut vulputate magna augue, et porta neque accumsan nec. Fusce aliquet augue eget blandit congue. Sed elementum quam cursus nisi ornare, sit amet finibus lorem accumsan. Nulla facilisi. Vivamus sed rutrum nisi, vitae facilisis ligula. Pellentesque lacinia, felis ut volutpat maximus, diam nibh lobortis augue, non lacinia diam ex nec nibh. Nullam fringilla eros id augue rhoncus, sed maximus massa elementum. Suspendisse hendrerit dolor ligula, quis molestie elit aliquam vel. In est est, hendrerit sed nisl eget, sollicitudin ultricies nulla. Ut vitae odio tempus, fringilla sem vel, aliquet ante. Nam mattis suscipit posuere. Vivamus vehicula magna consectetur est rutrum maximus.</p>

    <div class="mdl<p>yrdy</p>-cell mdl-cell--12-col mdl-shadow--2dp">
        TWITTER FACEBOOK YOTUBE
    </div>


{% endblock %}
