{% extends '::menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement{% endblock %}
{% block metaDescription %}Ce site web est un site communautaire qui a pour but de rassembler à la manière d'un calendrier tous les évènements Geek est Otaku en France.{% endblock %}
{% block metaTitle %}Convention Geek: TGS 2017{% endblock %}

{% block metaMore %}<meta name="robots" content="noindex">{% endblock %}

{% block pageContent %}

    <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
        <h1 style="margin: auto">{% block title %}{% endblock %}</h1>
    </div>

    <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
        <img style="margin-bottom: 15px; height: 100%; width: 100%; max-height: 116px; max-width: 640px;" src="{% block logoSrc %}{% endblock %}" alt="{% block logoAlt %}{% endblock %}"/>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
        {% block presentation %}{% endblock %}
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <a href="https://twitter.com/convention_geek">
                <img src="{{ asset('images/socialNetworks/twitter.png') }}" alt="Logo Twitter" style="max-height:48px;">
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <a href="https://www.facebook.com/ConventionGeek/">
                <img src="{{ asset('images/socialNetworks/facebook.png') }}" alt="Logo Facebook" style="max-height:48px;">
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <a href="https://www.instagram.com/conventiongeek">
                <img src="{{ asset('images/socialNetworks/instagram.png') }}" alt="Logo Instagram" style="max-height:48px;">
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <a href="https://www.youtube.com/channel/UCXaZPtsT29zkyv7vMP89Vmg">
                <img src="{{ asset('images/socialNetworks/youtube.png') }}" alt="Logo Youtube" style="max-height:48px;">
            </a>
        </div>
    </div>


{% endblock %}
