$mdc-theme-primary: #780a0a;
$mdc-theme-secondary: #004d16;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-background: #ffffff;
$mdc-theme-surface: #b5b5b5;

@import "~@material/button/mdc-button";
@import "~@material/card/mdc-card";
@import "~@material/checkbox/mdc-checkbox";
@import "~@material/dialog/mdc-dialog";
@import "~@material/drawer/mdc-drawer";
@import "~@material/elevation/mdc-elevation";
@import "~@material/form-field/mdc-form-field";
@import "~@material/icon-button/mdc-icon-button";
@import "~@material/layout-grid/mdc-layout-grid";
@import "~@material/list/mdc-list";
@import "~@material/select/mdc-select";
@import "~@material/snackbar/mdc-snackbar";
@import "~@material/typography/mdc-typography";
@import "~@material/tab-bar/mdc-tab-bar";
@import "~@material/tab-scroller/mdc-tab-scroller";
@import "~@material/tab-indicator/mdc-tab-indicator";
@import "~@material/tab/mdc-tab";
@import "~@material/textfield/mdc-text-field";
@import "~@material/textfield/helper-text/mdc-text-field-helper-text";
@import "~@material/theme/mdc-theme";
@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/toolbar/mdc-toolbar";

body{margin: auto;}

.mdc-top-app-bar{&__section {padding: 0;}
}

@media (max-width: 840px){.mdc-tab-bar{display: none;}}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px;}
.material-icons.md-24 { font-size: 24px;}
.material-icons.md-36 { font-size: 36px;}
.material-icons.md-48 { font-size: 48px;}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons{margin-right: 32px;}

.mdc-layout-grid__inner{margin-bottom: 2%;}

.mdc-tab-bar{@include mdc-tab-text-label-color($mdc-theme-on-primary);}

.mdc-drawer__header{background-color: $mdc-theme-primary;}

.mdc-drawer__header-content{align-items: center!important; padding: inherit!important;}
.mdc-layout-grid__inner{padding: 1%;}

a{ color: inherit; text-decoration: inherit;}

.a-list-item{display: flex; align-items: center; width: 100%;}

.one-pc-spacer{padding: 0% 1%;}

.mdc-card{@include mdc-card-fill-color($mdc-theme-background); height: 100%;}

.mdc-card__media-content img{width: 90%; padding-top: 3%; padding-left: 5%; padding-right: 5%;}

.mdc-card__media--16-9::before{margin-top: 25%;}

.mdc-card__media-content.archive-title{position: inherit;}

.card-news-title-author{ display: flex; justify-content: flex-end; align-items: center;}

.card-news-title-date{display: flex; justify-content: flex-start; align-items: center;}

.margin-right-flex{display: flex; justify-content: flex-end;}

h1, h2, h3, h4, h5, h6, p{margin: 1%;}

fieldset{border: inherit;}

.form_errors{color: $mdc-theme-primary;}

.mdc-select{ width: 100%;}

.mdc-text-field {width: 100%;}
.mdc-text-field--textarea {border-top: none; border-right: none; border-left: none;}
.mdc-text-field--textarea .mdc-floating-label{ margin-left: inherit; padding-left: inherit; background-color: inherit;}
.mdc-text-field--textarea .mdc-floating-label--float-above{ margin-left: 8px;}


.img-news-cg {width: 100%; height: auto;}

@media (min-width: 840px){
  .img-news-cg-panorama {grid-column-start: 4;}
}

@media (min-width: 480px) and (max-width: 839px) {
  .img-news-cg-panorama {grid-column-start: 3;}
}