{% extends '@ConventionGeekMain/Structures/menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, about, à propos{% endblock %}
{% block metaDescription %}Venez en apprendre plus sur Convention Geek {% endblock %}
{% block metaTitle %}Convention Geek: About{% endblock %}

{% block pageContent %}

        <div class="mdc-layout-grid__inner mdc-elevation--z12">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

                <h2>Présentation</h2>

                <p>Le site <strong>Convention Geek</strong> a été créé durant l’été 2014 par Franck CAYZAC, étudiant en programmation informatique.<br>
                    J’ai commencé mes premières conventions en 2013 et je voulais en faire plus, mais à l’époque il était très difficile de trouver les conventions autour de chez moi, c’est donc sur cette idée que j’ai créé <strong>Convention Geek</strong> et qui aujourd’hui est devenu le premier site pour connaitre les conventions.
                    Très rapidement après la création du site j’ai également mis en place une partie news dans laquelle vous pouvez retrouver mon retour sur les conventions avec le point de vue d’un visiteur.</p>

                <p>Depuis 2014, le site a subi de gros changements avec un an après sa sortie l’ajout d’une page pour chaque évènement et l’historique des dates, mais également la sortie de la version 2 qui est la version actuelle du site.
                    Néanmoins, je ne compte pas m’arrêter là. Je vais continuer à développer de nombreuses fonctionnalités pour le site qui vont rendre <strong>Convention Geek</strong> indispensable.</p>

                <p>En attendant, je vous souhaite une bonne visite sur le site et vous donne rendez-vous en conventions pour plus de fun.</p>

            </div>


        </div>
        <div class="mdc-layout-grid__inner mdc-elevation--z12 ">
            <h2>Partenaires</h2>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__inner ">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet mdc-elevation--z10">

                    <div class="mdc-card">
                        <div class="mdc-card__media mdc-card__media--16-9" style="flex: 1;">
                            <div class="mdc-card__media-content"><img src="{{ asset('images/about/nationsglory.png') }}" alt=""></div>
                        </div>

                        <p style="flex: 1;">
                            NationsGlory est un serveur Semi-RP moddé, actuellement le premier serveur moddé de France depuis presque trois ans.<br>
                            Rejoignez la communauté de NationsGlory, de grandes aventures vous attendent !</p>
                        <div class="mdc-card__actions">
                            <div class="mdc-card__action-icons">
                                <button class="mdc-button mdc-card__action mdc-card__action--button">
                                    <a href="https://nationsglory.fr/" target="_blank">
                                        Jouons !
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet  mdc-elevation--z10">

                    <div class="mdc-card ">
                        <div class="mdc-card__media mdc-card__media--16-9" style="flex: 1;">
                            <div class="mdc-card__media-content"><img src="{{ asset('images/about/fokuza.png') }}"  alt=""></div>
                        </div>

                        <p style="flex: 1;">
                            Fokuza, une association de photographes passionnés qui vous proposent ses services, présentent leur travail et ouvre une discussion entre modèles, public et photographes.
                        </p>
                        <div class="mdc-card__actions">
                            <div class="mdc-card__action-icons">
                                <button class="mdc-button mdc-card__action mdc-card__action--button">
                                    <a href="https://www.fokuza.eu/" target="_blank">
                                        Où est mon cosplay ?
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-12-tablet mdc-elevation--z10">

                    <div class="mdc-card">
                        <div class="mdc-card__media mdc-card__media--16-9" style="flex: 1;">
                            <div class="mdc-card__media-content"><img src="{{ asset('images/about/erreur42.png') }}"  alt=""></div>
                        </div>
                        <p style="flex: 1;">Erreur42.fr est webzine sur l'univers geek tenu par une bande de passionnés. Fondé en 2013 sous un autre nom puis renommé en 2016 notre objectif est de rendre plus accessible la "presse" spécialisée en parlant avec passions de Cinéma, de Séries et de Littérature.</p>
                        <div class="mdc-card__actions">
                            <div class="mdc-card__action-icons">
                                <button class="mdc-button mdc-card__action mdc-card__action--button">
                                    <a href="https://erreur42.fr/" target="_blank">
                                        Plus de News ?
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

{% endblock %}
