<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<body>Hello World


<button class="foo-button mdc-button">
    Button
</button>

<script src="{{ asset('build/app.js') }}" async></script>
</body>

</html>