{# app/Ressources/views/menu.html.twig #}

{% extends '@ConventionGeekMain/Structures/basetest.html.twig' %}

{% block body %}


    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon drawer">menu</button>
                <span class="mdc-toolbar__title">Title</span>
            </section>
            <section class="mdc-toolbar__section">
                Section aligns to center.
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
                Section aligns to end.
            </section>
        </div>
    </header>

    <aside class="mdc-drawer mdc-drawer--persistent mdc-typography">
        <nav class="mdc-drawer__drawer">
            <header class="mdc-drawer__header">
                <div class="mdc-drawer__header-content">
                    Header here
                </div>
            </header>
            <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
                <a class="mdc-list-item mdc-list-item--activated" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox
                </a>
                <a class="mdc-list-item" href="#">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star
                </a>
            </nav>
        </nav>
    </aside>


    <main class="mdc-toolbar-fixed-adjust">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sapien ex, mattis at placerat quis, dignissim luctus nisi. Ut vulputate magna augue, et porta neque accumsan nec. Fusce aliquet augue eget blandit congue. Sed elementum quam cursus nisi ornare, sit amet finibus lorem accumsan. Nulla facilisi. Vivamus sed rutrum nisi, vitae facilisis ligula. Pellentesque lacinia, felis ut volutpat maximus, diam nibh lobortis augue, non lacinia diam ex nec nibh. Nullam fringilla eros id augue rhoncus, sed maximus massa elementum. Suspendisse hendrerit dolor ligula, quis molestie elit aliquam vel. In est est, hendrerit sed nisl eget, sollicitudin ultricies nulla. Ut vitae odio tempus, fringilla sem vel, aliquet ante. Nam mattis suscipit posuere. Vivamus vehicula magna consectetur est rutrum maximus. Cras sodales urna a diam vestibulum, aliquam egestas sem finibus. In pretium enim mauris, at ultrices leo ullamcorper eu.
        </p>
        <p>
            Sed viverra porta fringilla. Nunc elementum dignissim sapien eget pharetra. Vivamus fermentum, ex ut fermentum bibendum, elit purus elementum nunc, at ultrices enim arcu eu eros. Donec sit amet turpis scelerisque, sodales libero facilisis, pellentesque lorem. Praesent facilisis tellus sit amet interdum pulvinar. Donec ac tempor enim. Nulla est neque, pharetra sit amet velit nec, tincidunt ornare velit. Praesent at accumsan nisl. Sed eleifend porta arcu, et tempus metus semper id. Fusce nulla metus, fringilla non porttitor in, tempus eget purus. Donec pellentesque ornare varius. Curabitur sed placerat diam, id dictum erat.
        </p>
        <p>
            In hac habitasse platea dictumst. Duis mi nisi, aliquam et suscipit a, condimentum eu elit. Curabitur bibendum, diam eget ultricies suscipit, risus nibh faucibus felis, non consectetur turpis purus a eros. Aenean ullamcorper enim lectus, at lacinia augue condimentum vel. Morbi vel enim rhoncus leo ullamcorper dictum. Cras accumsan justo eget feugiat ultrices. Ut accumsan convallis risus quis euismod. Nunc sed aliquet lacus. Nam in sollicitudin mauris. Mauris consequat tellus in magna hendrerit, facilisis porta mauris accumsan. Phasellus venenatis vestibulum nisl a fringilla.
        </p>
        <p>
            Quisque mattis neque massa, ac suscipit massa suscipit ac. Aliquam erat volutpat. Sed enim turpis, blandit quis est id, egestas ornare massa. Fusce faucibus ex id mi bibendum imperdiet. Nam pellentesque ultrices arcu eget condimentum. Aliquam a elit neque. Fusce vel pharetra nulla. Nulla iaculis ex quis ornare gravida. Sed porttitor eu enim at interdum. Sed efficitur et nisi at scelerisque. Sed in ante nisl.
        </p>
        <p>
            Vivamus eleifend mi non efficitur consectetur. Cras fringilla tellus ac tincidunt efficitur. Sed iaculis eu dui a facilisis. Vivamus ac pellentesque sapien. Ut gravida ullamcorper blandit. Maecenas maximus leo nec sem elementum volutpat. Morbi libero ligula, condimentum quis metus ut, cursus congue nunc. Mauris pharetra lacinia massa pellentesque posuere. Mauris non semper felis.
        </p>
        <p>
            Praesent vel ante vitae est feugiat ullamcorper in eget diam. Fusce gravida elit vel rhoncus consequat. Maecenas et velit dignissim, volutpat orci tempor, lobortis nulla. Duis iaculis maximus leo, in malesuada purus imperdiet ac. Vivamus dignissim vel libero eu luctus. Cras egestas justo vehicula, pretium mi et, pretium ligula. Nullam in consectetur nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p>
            Praesent iaculis mauris sit amet nulla porttitor, eget dignissim neque dapibus. Donec ut cursus dolor. Fusce mauris arcu, malesuada et mauris vitae, sollicitudin aliquam orci. Ut fermentum ornare magna ullamcorper placerat. Fusce pellentesque, arcu eget facilisis viverra, dolor odio efficitur neque, ac ornare nulla massa sit amet nisi. Aliquam vel ante venenatis, ullamcorper mi id, ullamcorper tellus. Pellentesque fringilla, risus id viverra tempor, enim purus laoreet lorem, vitae gravida ligula enim sed ligula. Proin tincidunt, nisl eu pulvinar faucibus, mi libero bibendum nibh, ut viverra tellus dui eu metus. Donec malesuada urna vel massa volutpat, nec aliquet ex hendrerit. Nunc dictum laoreet libero eget venenatis.
        </p>
        <p>
            Vivamus malesuada erat non euismod consectetur. Integer dictum erat eu justo bibendum, semper semper nisl ornare. Quisque at luctus ex. Praesent volutpat bibendum nisi, quis porta velit. Suspendisse placerat vestibulum sem, vitae varius elit malesuada quis. Phasellus nec ipsum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus sodales congue dui non varius. Donec tempor sem ut velit posuere euismod. Vivamus rutrum lobortis sem.
        </p>
        <p>
            Vestibulum nec pretium odio. Nullam non rutrum erat, quis dignissim nisi. Fusce mi purus, rutrum vitae erat in, vulputate lacinia leo. Nunc hendrerit, tortor ac efficitur luctus, mi nisl dignissim nisi, a posuere diam nibh dapibus ipsum. Praesent tincidunt, ex in varius blandit, velit sem viverra orci, sit amet tincidunt erat nisi egestas felis. Sed feugiat sit amet ex consequat dictum. Vestibulum pretium sapien eget metus cursus pharetra. Nunc luctus vulputate euismod. Vivamus suscipit vitae arcu non accumsan. Cras sed fringilla eros. Proin id scelerisque elit, non viverra lectus.
        </p>
        <p>
            Praesent eleifend enim eget massa cursus condimentum et ut leo. Aliquam ultrices mi at rhoncus feugiat. Nam magna nulla, placerat non ipsum ut, blandit condimentum tortor. In pulvinar ex lacus. Donec imperdiet velit quis sapien rhoncus volutpat. Sed auctor convallis dictum. Proin efficitur nisl a convallis egestas. Nunc auctor nulla vitae ex imperdiet, nec elementum turpis blandit. Ut ut egestas nisl. Etiam consequat eros consequat, bibendum est non, dapibus purus. Cras sem nunc, semper a lacus eget, tincidunt pharetra nulla. Morbi elementum ligula ultrices dapibus convallis. Vivamus ullamcorper arcu dui, at dictum leo rhoncus ac.
        </p>

    </main>



{% endblock %}
