{# app/Ressources/views/menu.html.twig #}

{% extends '@ConventionGeekMain/Structures/basetest.html.twig' %}

{% block body %}

    <header class="mdc-top-app-bar mdc-top-app-bar--fixed --mdc-theme-primary">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start --mdc-theme-primary">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded">menu</button>

                    <a class="mdc-top-app-bar__title" href="{{ path('App_home') }}" style="height: 100%">
                    <img  src="{{ asset('images/menu/banniere.svg') }}" alt="Bannière de Convention Geek" height="100%"/>
                    </a>

            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Download" alt="Download">file_download</a>
                <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Print this page" alt="Print this page">print</a>
                <a href="#" class="material-icons mdc-top-app-bar__action-item" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
            </section>
        </div>
    </header>



    <br><br>
    <button class="foo-button mdc-button">Button</button>


{% endblock %}
