{# app/Ressources/views/menu.html.twig #}

{% extends '@ConventionGeekMain/Structures/basetest.html.twig' %}

{% block body %}

    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
                <span class="mdc-top-app-bar__title" style="height: 100%">
                    <a href="{{ path('App_home') }}" style="height: 100%">
                        <img class="mdl-layout-title" src="{{ asset('images/menu/banniere.svg') }}" alt="Bannière de Convention Geek" height="100%"/>
                    </a>

                </span>
            </section>
        </div>
    </header>



    <br><br>
    <button class="foo-button mdc-button">Button</button>


{% endblock %}
