{% extends '@ConventionGeekMain/Structures/menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement{% endblock %}
{% block metaDescription %}Ce site web est un site communautaire qui a pour but de rassembler à la manière d'un calendrier tous les évènements Geek est Otaku en France.{% endblock %}
{% block metaTitle %}Convention Geek: Le calendrier des conventions Geek et Otaku{% endblock %}

{% block pageContent %}

    <div class="mdl-shadow--6dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-grid">
            <div class="mdl-cell mdl-cell--6-col ">
                DIV1
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                DIV2
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            {{ include('@ConventionGeekContact/formulaires/formcontent/contactform.twig') }}
        </div>
    </div>

{% endblock %}
