{% extends '::menu.html.twig' %}

{% block metaKeyword %}calendier, salon, jeux, vidéo, jeux vidéo, dates, convention, geek, otaku, japan, expo, France, free, manga, évenement{% endblock %}
{% block metaDescription %}Ce site web est un site communautaire qui a pour but de rassembler à la manière d'un calendrier tous les évènements Geek est Otaku en France.{% endblock %}
{% block metaTitle %}Convention Geek: Le calendrier des conventions Geek et Otaku{% endblock %}

{% block pageContent %}

<article class="mdl-shadow--6dp mdl-cell mdl-cell--12-col">

    <div class="mdl-cell mdl-cell--12-col ">

        <h1>{{ post.title }}</h1>

    </div>

    <div class="mdl-cell mdl-cell--12-col ">

        {{ post.content|raw }}

        <p>Ecrit par {{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }} le  {{ post.publicationDateStart | format_date }}</p>

    </div>
</article>


{% endblock %}
